body {
  background-color: rgb(237, 233, 242);
}

.js-card-container{
display: flex;
}

.card {
  display: inline-block;
  width: 200px;
  padding: 10px;
  margin: 10px;

  border-radius: 10px;
  outline: 1px solid rgb(82, 15, 15);

  background: 
    linear-gradient(217deg,rgba(69, 69, 70, 0.329), rgba(163, 156, 156, 0.368) 70.71%),
    linear-gradient(127deg, rgba(66, 75, 66, 0.971), rgba(73, 76, 73, 0.746) 70.71%),
    linear-gradient(336deg, rgba(74, 45, 45, 0.369), rgba(74, 74, 126, 0.457) 70.71%);

  box-shadow: 1px 2px 10px;
}

.card-img-top {
  display: flex;
  justify-content: center;
}

.card-img-top > img {
  margin: 10px;
  padding: 10px;
  border-radius: 70px;
  border: 1px solid rgba(123, 12, 234, 0.378);
  border-radius: 50%;
  box-shadow: 5px 3px 15px 1px;

  background: linear-gradient(
      217deg,
      rgb(34, 0, 255),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(33, 224, 74, 0.971), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(255, 0, 0, 0.99), rgba(0, 0, 255, 0) 70.71%);
}

.card-body {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(241, 241, 241, 0.58);
  outline: 1px solid rgb(154, 150, 150);

  box-shadow: 1px 2px 6px;
}
